:root {
  --border: #eeeeee;
}
:root {
  --blue: #2196f3;
}
:root {
  --black: #212121;
}
:root {
  --grey: #757575;
}
:root {
  --white: #ffffff;
}
:root {
  --grey2: #2f303a;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  inline-size: 100%;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  color: var(--black);
  cursor: pointer;
}
h3 {
  font-size: 18px;
  line-height: 171%;
  font-weight: 700;
}

p {
  color: var(--grey);
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo-header a {
  color: var(--blue);
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  text-decoration: none;
}
.black-text {
  color: var(--black);
}
.first {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: auto;
  inline-size: 100%;
  width: 1200px;
}

.nav {
  padding-left: 93px;
  padding-right: 318px;
}

.nav nav {
  display: flex;
  flex-direction: row;
}

.nav div {
  padding-right: 23px;
  padding-left: 23px;
}
.nav a {
  color: var(--black);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav a:hover {
  color: var(--blue);
}
.sign::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  margin-left: -51px;
  margin-top: 50px;
  background-color: #2196f3;
  border-radius: 2px;
}
.contact {
  display: flex;
  flex-direction: row;
}
.contact div {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}
.contact svg {
  width: 21px;
  height: 16px;
}
.contact a {
  color: var(--grey);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact a:hover {
  color: var(--blue);
}
.main {
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(47, 48, 58, 1) 35%,
    rgba(0, 212, 255, 1) 100%);
  background-image: url(./people.jpg);
  display: flex;
  flex-direction: column;
}

.main h1 {
  color: var(--white);
  font-size: 44px;
  line-height: 136%;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 30px;
  width: 696px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.window {
  background-color: var(--white);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.open-btn {
  font-size: 16px;
  line-height: 188%;
  font-weight: 700px;
  color: var(--white);
  background-color: var(--blue);
  background-size: 200px 50px;
  border-radius: 4px;
  border-color: var(--blue);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.open-btn:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 1px var(--blue);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.close {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.data {
  font-weight: 700;
font-size: 20px;
line-height: 100%;
text-align: center;
letter-spacing: 0.03em;
color: var(--black);
margin-top: 40px;
margin-bottom: 12px;
}
.info{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right:40px;
  position: relative;


}

.color{
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.color:focus{
  
  outline: 1px solid var(--blue);
}
.icon{
  width: 15px;
  height: 13px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.info > .icon{
  position: absolute;
  top: 80%;
  margin-left: 10px;
  transform: translateY(-80%);
}
.color:focus + .icon{
  fill:var(--blue);
}
.com{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right:40px;
  margin-bottom: 10px;
  font-size: 12px;
line-height: 100%;
letter-spacing: 0.01em;
color: var(--grey);
font-size: 12px;
line-height: 100%;
letter-spacing: 0.01em;
color: var(--grey);
margin-bottom: 4px;
}
.word{
  line-height: 100%;
  letter-spacing: 0.01em;
  color: var(--grey);
  margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

textarea{
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
padding-left: 16px;
padding-top: 12px;
color: rgba(117, 117, 117, 0.5);
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus{
  outline: 1px solid var(--blue);
}

.accept {
  position: relative;
  top: -15;
  left: 0;
  margin-left: 45px;
  
}
.black-1{
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--grey);
  position: relative;
  top:16px;
  left: 25px;
}
.blue-1{
  color: var(--blue);
  text-decoration: underline;
}
.check{
  position: relative;
  width: 16px;
  height: 16px;
  top: 19px;
  opacity: 0;
  left:59px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index:10;
}
.accept::before{
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border: solid 1px var(--black);
  position: absolute;
  left: 0;
  top: 20px;
}
.accept::after{
  content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
    left: 4px;
    top: 24px;
}
.check + .accept::after{
  content: none;
}
.check:checked + .accept::after{
  content: "";
  color: var(--white);
}

.check:focus + .accept::before{
outline: var(--blue) auto 5px;
  background: var(--blue);
  
}
.send{
  
width: 200px;
height: 50px;
background-color: var(--blue);
color: var(--white);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;

}


.lorem {
  display: flex;
  flex-direction: row;
}
.lorem div {
  margin-left: 15px;
  margin-right: 15px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.lorem svg {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.lorem h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--black);
  margin-top: 55px;
}

.lorem p {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--grey);
}
.whatwedo {
  justify-content: center;
}
.whatwedo h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color: var(--black);
  text-align: center;
  padding-bottom: 50px;
}

.photo {
  display: flex;
  flex-direction: row;
}

.signature {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  width: 370px;
  height: 294px;
}

.signature > .label {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  width: 370px;
  height: 75px;
  padding-top: 27px;
  padding-right: 27px;
  margin: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.ourteam {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}
.ourteam h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color: var(--black);
  text-align: center;
  padding-bottom: 50px;
}
.employees {
  display: flex;
  flex-direction: row;
}
.employees div {
  margin-inline: 15px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.employees img {
  height: 260px;
  width: 270px;
}
.employees h3 {
  font-size: 16px;
  line-height: 100%;
  color: var(--black);
  padding-top: 10px;
}

.employees p {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--grey);
  padding-top: 10px;
}

.employees svg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  align-items: center;
}
.quarter {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  height: 428px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.quarter div {
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon2 {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 8px;
}
.icon2:hover {
  --color2: var(--white);
  background-color: var(--blue);
  border: 1px var(--blue);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 8px;
}
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: var(--black);
  text-align: center;
  padding-bottom: 50px;
}
.logoclients {
  display: flex;
  flex-direction: row;
}
.logoclients svg {
  width: 90px;
  height: 90px;
  display: block;
  padding-top: 20px;
  margin: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logoclients div {
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logoclients div:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
  --color2: var(--blue);
}

.second {
  display: flex;
  flex-direction: row;
  margin-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.second div {
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
}

.second button {
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  border-radius: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.second button:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 1px var(--blue);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.third {
  display: flex;
  flex-direction: row;
}
.third h3 {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  position: relative;
  z-index: 10;
}

.third p {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  z-index: 10;
}
.box {
  border: var(--border) 1px solid;
  margin-bottom: 30px;
  position:relative;
  top: 0;
  right: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 1;
}
.box img {
  width: 370px;
  height: 294px;
}
.box .technocrack {
  visibility: hidden;
  position:absolute;
  width: 370px;
  height: 294px;
  bottom: 35%;
  right: 0;
  background: rgba(33, 150, 243, 0.9);

}

.box:hover .technocrack {
  visibility: visible;
  content: "";
  position:absolute;
  width: 370px;
  height: 294px;
  bottom: 35%;
  right: 0;
  background: rgba(33, 150, 243, 0.9);
  animation-name: height;
  animation-duration: 1s;
  animation-iteration-count: inherit;
  animation-direction: alternate;
  
}
  
.technocrack {
  
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--white);
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 45px;
  position:absolute;
  bottom: 35%;
  right:0;
  visibility: hidden;

}

@keyframes height {
  0% {
    height: 0px; 
  }
  100% {
    height: 294px;
    
  }
}
.one {
  flex-direction: row;
  margin-right: 30px;
}

.one div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.two {
  flex-direction: row;
  margin-right: 30px;
}

.two div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.three {
  flex-direction: row;
}

.three div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
footer {
  background-color: var(--grey2);
  height: 252px;
}
.last {
  display: flex;
  flex-direction: row;
}
.part1 {
  padding-right: 70px;
}

.logo-footer {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 60px;
}
.logo-footer a {
  color: var(--blue);
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  text-decoration: none;
}
.white-text {
  color: var(--white);
}

.address {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  justify-items: center;
}
.address a {
  color: var(--white);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover {
  color: var(--blue);
  text-decoration: none;
}

.street {
  padding-bottom: 9px;
}

.mail {
  padding-bottom: 9px;
  text-decoration: underline;
}
.part2 {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
.part2 p {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding-bottom: 10px;
}

.part2 svg {
  width: 40px;
  height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 10px;
  padding-top: 10px;
}
.part2 svg:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}
.part3 p{
  font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
padding-top:72px;
padding-left: 78px;
}
.part3 input{
 padding: 15px;
  margin-left: 78px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: var(--grey2);

}
.part3 ::placeholder{
  color: var(--white);
}

.part3 button{
  width: 200px;
height: 50px;
margin-left: 12px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: var(--blue);
color: var(--white);
position: absolute;
padding-right:px;
font-size: 16px;
line-height: 160%;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: 700;
padding-right:24px ;
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.part3 svg{
  width: 24px;
  height: 24px;
  position:absolute;
  top: 13px;
  right: 28px;
  left: 148px;
}
.part3 button:hover{
  cursor: pointer;
}