$backgroundColor:#ffffff;
$fontColor: #212121;
$fontFamily: "Roboto", sans-serif;
$fontWeight: 500;
$paddingSection: 94px;
$cursorType: pointer;
$borderSize: 1px solid;

body {
    background-color: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }